header{
    box-shadow:0 0 10px black;
}

main{
    height: 83vh;
    background-image: url("../img/sunset.jpg");
    background-position: center;
    background-size: cover;
}
form{
    box-shadow: 0 0 1rem rgba(46, 46, 46, 1);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, .75);
}

form > p{
    margin-top: 1rem;
}

footer{
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    color: #fff;
    line-height: 0.8rem;
}

footer > p{
    margin-top: .5rem;
}