.orderTMain{
    background-image: url("../img/Sunset.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-top: 2em;
}

.tableOrders{
    text-align: center;
    background: #ecececee;
    margin: 0 2em;
    padding: 2em;
    border-radius: 10px;
}

.tableOrders h1{
    text-align: start;
    margin-bottom: 1em;
}

.tableOrders table{
    border: 1px solid #888888;
    border-radius: 10px;
}

.btnSelectTable{
    margin-bottom: 1em;
    text-align: end;
}

.popup {
    width: 100%;
    max-width: 1200px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}

#close-popup {
    position: fixed;
    left: 97%;
    top: 0%;
    font-size: 40px;
    background:none;
    border-radius: 0 !important;
}